nav.navbar.navbar-expand-lg.navbar-light.bg-light
  a.navbar-brand(href='/api/productos')  - 3ra Entrega TP FINAL -
  button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
    span.navbar-toggler-icon
  
  .collapse.navbar-collapse(id='navbarSupportedContent')
    ul.navbar-nav.mr-auto
      //- li.nav-item.active
        a.nav-link(href='/altaProductos') Alta Productos
      li.nav-item
        a.nav-link(href='/api/productos') Productos

