div(class="container bg-secondary mt-3")
    form(action="/logout" method="post" autocomplete="off")
        h1(class="alert bg-secondary") Bienvenido, #{user}!
            button(class="btn btn-danger float-end mt-2") Desloguear